.example-cards {
  margin: 0;

  p {
    margin: 0;
  }

  .example-item {
    margin: 3rem;
    list-style: none;
    line-height: 2;

    .card {
      width: 100%;
      display: flex;
      align-items: flex-start;
      
      .card-img {
        width: 30%;
        flex-shrink: 0;
        border: 1px solid #ccc;
      }

      .card-body {
        flex-grow: 1;
      }

      .card-text {
        color: #eee;
      }
    }
  }
}