.example-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  
  .example-item {
    margin: 3rem;
    width: calc(25% - 6rem);

    .card {
      width: 100%;
    }
  }
}