---
title: EXAMPLES
layout: default
header-img: "img/home-bg.jpg"
---

<link rel="stylesheet" href="/css/examples.min.css">
<header class="intro-header"
  style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div style="height: 36vh;"></div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-1 col-md-10 col-md-offset-1">
      <ul class="example-cards">
        <li class="example-item">
          {% for page in site.pages %}{% if page.layout == "example" %}
          <div class="card">
            <img class="card-img-top" src="{{ page.preview }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ page.example-name }}</h5>
              <p class="card-text">
                <a href="{{ page.url }}">{{ page.example-description }}</a>
              </p>
            </div>
          </div>
          {% endif %}{% endfor %}
        </li>
      </ul>
    </div>
  </div>
</div>